
.sign-up{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
}
.sign-up h2{
	text-align: center;
}
.signcont{
	box-shadow: 2px 2px 7px rgb(217, 214, 214);
	padding: 50px;
	background: linear-gradient(135deg,hsl(180, 99%, 41%),white);
	border-radius: 15px;
	margin: 40px;
	
}
.sign-up form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	margin: 30px;
}
.sign-up form input{
	width: 300px;
	height: 40px;
	border: 1px rgb(209, 207, 207) solid;
	box-shadow: 1px 1px rgb(204, 200, 200);
	border-radius: 3px;
	mix-blend-mode: luminosity;
}
.loginbtn{
	background: linear-gradient(90deg, rgba(15, 167, 111, 1) 0%, rgb(2, 183, 174) 100%);
	color: hsl(0, 11%, 87%);
	width: 300px;
	margin: 30px;
	font-size: 2rem;
	border-radius: 5px;
	border: none;
}
.sign-up a{
	color: hsl(217, 91%, 45%);
}