
.section-one {
    position: relative;
    text-align: center;
    color: hsl(0, 0%, 100%);
    background: linear-gradient(180deg, rgba(106, 237, 198, 0.85) 0%, rgba(64, 193, 157, 0.85) 100%);
    
  }
  
  .navbar-about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    
  }
  
  .navbar-logo {
    height: 48px; 
  }
  
  .navbar-links .nav-link {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    margin: 0 20px;
    transition: color 0.3s;
  }
  
  .navbar-links .active {
    font-weight: 700;
  }
  
   
  .navbar-auth .btn-signup {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    padding: 10px 25px;
    margin: 0 10px;
    border: none;
    background: linear-gradient(90deg, hsl(160, 86%, 80%) 0%, hsl(176, 47%, 40%) 100%);
    color: hsl(0, 0%, 100%);
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
  }
  .btn-login{
    background-color: hsl(0, 0%, 100%);
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    padding: 10px 25px;
    margin: 0 10px;
    border: none;
    color: #3c3a3a;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
  }
  .btn-signup {
    
    color: hsl(0, 0%, 0%);
  }
  
  .hero2 {
    background-size: cover;
    position: relative;
  }
  
 
  
  .hero2-content {
    position: relative;
    padding: 100px 50px;
  }
  
  .hero2 h1 {
    
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -0.8px;
  }
  
  .hero2 p {
     
    font-size: 24px;
    font-weight: 600;
    max-width: 800px;
    margin: 20px auto;
    color: hsl(233, 100%, 9%);
  }
  
  .btn-create-account {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    background: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
    padding: 10px 30px;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    text-decoration: none;
  }
  
  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .social-links span {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    margin-left: 10px;
  }
  
  .social-icon {
    font-family: 'Font Awesome 5 Brands';
    font-size: 18px;
    margin: 0 10px;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
  }
  