
.welcome-message {
    background-color: hsl(178, 75%, 94%);
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin: 0;
    
    justify-content: space-evenly;
    
  }
  
  .mariam-image {
    height:150px; 
    margin: 0px 20px 0px ;
   
  }
  
  .message-text h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: hsl(216, 32%, 22%);
  }
  
  .message-text p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 36.5px;
    color: hsl(246, 23%, 26%);
  }
  