
.header-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
 }
 
  .header-logo-contact {
    width: 261px;  
    height: 48px;
  }
  
  .header-nav-contact .nav-link-contact {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: hsl(238, 27%, 20%);
    text-decoration: none;
    margin-left: 90px;  
    transition: 0.3s ease;
    padding: 10px 15px;
  }
  .nav-link-contact:hover{
    background-color: rgb(5, 173, 173);
   
    border-radius: 5px;
    color: whitesmoke;
  }
  
  .header-nav-contact .nav-link-contact.active {
    font-weight: 700;
  }
  
 
  .login-button {
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 42%);
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    text-align: center;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 34px;  
     
  }
  
  .signup-button {
    background: linear-gradient(90deg, rgba(15, 167, 111, 1) 0%, rgba(83, 216, 210, 1) 100%);
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    text-align: center;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 34px;  
     
  }
  